        #container {
            width: 1000px;
            height: auto;
            margin: 0 auto;
        }
        #navbar {
            width: 1000px;
            height: 60px;
            display: block;
            margin: 0 auto 20px;
            background-color: black;
            border: 1px solid #222;
            position: relative;
        }
        .navbar-list {
            width: 900px;
            float: left;
        }
        .navbar-list li:hover ul {
            display: block;
        }
        .navbar-list ul {
            padding: 0;
            margin: 0;
            text-decoration: none;
        }
        .navbar-list li {
            position: relative;
            float: left;
            list-style-type: none;
            display: inline-block;
        }
        .navbar-list ul:after {
            content: "";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
        .navbar-list li a {
            text-decoration: none;
            display: block;
            border-left: 1px solid #999;
            border-right: 1px solid #222;
            padding: 10px 30px;
            text-transform: uppercase;
            font-family: 'Cinzel Decorative', cursive;
            color: snow;
            font-weight: 600;
        }
        .navbar-list li a:focus {
            text-decoration: underline;
            outline: none;
        }
        .navbar-list li:first-child a {
            border-left: none;
        }
        .navbar-list ul ul {
            display: none;
            width: 100%;
            position: absolute;
            left: 0;
            background: #6a6a6a;
        }
        .navbar-list ul ul li {
            float: none;
        }
        .navbar-list ul ul a {
            display: block;
            padding: 5px 6px;
            border-left: none;
            border-right: none;
            font-size: 10px;
        }
        .navbar-list ul ul a:hover {
            background-color: #555;
        }
        .navbar-content {
            width: 100px;
            float: right;
        }
        .navbar-content h3 {
            color: snow;
            font-family: 'Cinzel Decorative', cursive;
        }
        #section {
            width: 1000px;
            height: 700px;
        }
        img {
            width: 1000px;
            height: 700px;
            position: relative;
            z-index: -1;
        }
        h2 {
            position: absolute;
            top: 150px;
            left: 200px;
            font-size: 80px;
            font-family: 'Cinzel Decorative', cursive;
            color: snow;
        }
        #section h3 {
            position: absolute;
            bottom: 1px;
            right: 250px;
            width: 20%;
            color: snow;
            font-size: 50px;
            font-family: 'Cinzel Decorative', cursive;
            letter-spacing: 2px;
        }
        span {
            color: bisque;
        }
        #footer {
            width: 1000px;
            height: 60px;
            background-color: black;
        }
        #footer p {
            color: snow;
            font-family: 'Cinzel Decorative', cursive;
            float: left;
            padding-left: 20px;
            margin-top: 10px;
        }
